In [3]:
greet = lambda name : print(f"Good Morning {name}")
greet("sai"    )

Good Morning sai

In [7]:
even = lambda L : [x for x in L if x%2 == 0]
l = [100,99,98,97,96,95,94,93,92,91,90]
even(l)

[100, 98, 96, 94, 92, 90]

In [9]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [11]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]                                            
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000